@font-face {
  font-family: 'Maison_NeueBook';
  src: url('/path-to-font/maison_neuebook.woff2') format('woff2'),
       url('/path-to-font/maison_neuebook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Fade in/out for product grid */
.product-grid {
  transition: opacity 0.3s ease-in-out;
}
.cards{
  padding: 0.35% !important
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



/* Card styles */
.product-card {
  border: none;
  border-radius: 15px; 
}


/* Discount badge styles */
.badge {
  font-size: 12px;
  padding: 5px 10px;
}

/* Card body styles */
.card-title {
  font-size: 16px; /* Adjust title size */
  font-weight: 600;
}

.card-price {
  font-size: 18px;
  color: #ff5722; /* Adjust price color */
  font-weight: bold;
}

.text-muted {
  font-size: 14px;
  text-decoration: line-through;
}

/* Button styles */
button {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 25px;
}

/* Nav styles */
.nav-border {
  font-family: 'Maison_NeueBook';
  font-size: 13px;
  border: 0.5px solid black;
  border-radius: 20px !important;
  margin: 0 10px;
  padding: 8px 20px; /* Increase padding */
  color: black;
  font-weight: 600;
}

.nav-border:hover {
  background-color: black;
  border-color: black;
  color: white;
}

.rating {
  font-size: 14px;
  border: 1px solid beige;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #f5f5dc; /* Beige color */
  color: #000; /* Black text */
  display: flex;
  align-items: center;
}


/* Active tab styling */
.active-tab {
  background-color: black !important;
  color: white !important;
}

@font-face {
  font-family: 'Maison_NeueBook';
  src: url('/path-to-font/maison_neuebook.woff2') format('woff2'),
       url('/path-to-font/maison_neuebook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}